@media (min-width: 1420px) {
  .lesson_page {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1220px) {
  .lesson_page {
    font-size: 16px;
    line-height: 20px;
    padding: 0 10px;
  }
}

.lesson_page {
  padding-top: 4em;
  max-width: 800px;
  margin: 0 auto;
}
